/* common styles */

body {
  background-image: url('./assets/background-image.jpg');
  /* background-position: 50%; */
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/* Path: index.html */

/* Path: corporate.html */

/* Path: dealer.html */

/* Path: login.html */

/* Path: provider.html */
