/* common styles */

* {
  font-family: Poppins, sans-serif !important;
}

:root {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}

body {
  background-image: url('./assets/background-image.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.relative {
  position: relative;
}

/* .language_changer {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.language_changer button {
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 4px;
} */

.red {
  color: #fc3b61;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.parent-div {
  /* background-image: url('./assets/background-image.jpg'); */
  /* background-position: 50%; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-color: #000; */
  color: white;
  height: 100%;
  /* background-position: center top; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* height: 100vh; */
  /* padding: 4rem; */
}

.gorex-intro {
  flex: 0.5;

  margin-bottom: 2rem;
}

.gorex-logo {
  margin-bottom: 1.5rem;
  width: 12rem !important;
  /* width: 289px; */
  /* height: 74px; */
}

.gorex-intro-text {
  font-size: 1.875rem;
  line-height: 2rem;
  text-align: start;
  font-weight: 600;
  margin-bottom: 1.5rem;
  width: 75%;
}

.gorex-intro-description {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: start;
  font-weight: 400;
  margin-bottom: 2rem;
  padding: 0 10px;
}

.gorex-intro-app-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gorex-intro-app-buttons img {
  width: 10rem;
}

.gorex-intro-app-buttons img:first-child {
  margin-right: 1rem;
}

/* Path: index.html */

.gorex-registration-form {
  flex: 0.5;
  margin-right: 4rem;
}

.index-form-wrapper {
  margin-left: 4rem;
  width: 100%;
  max-width: 500px;
  max-height: 686px;
  /* background: #160C48 0% 0% no-repeat padding-box; */
  background-color: rgba(22, 12, 72, 0.3);
  border-radius: 37px;
  opacity: 1;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  padding: 1.5rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.form-anchors {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  flex-direction: column;
}

.form-anchors h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
  font-family: Poppins;
  /* font: normal normal bold 32px/48px Poppins; */
  letter-spacing: 0px;
  text-align: center;
}

.form-anchor-wrapper {
  padding: 0.5rem;
  width: -webkit-fill-available;
}

.registration-anchor {
  border: 2px solid #ffffff;
  border-radius: 30rem;
  text-decoration: none;
  margin-bottom: 1rem;
  padding: 1rem 1.25rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.registration-anchor div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.registration-anchor a {
  color: white;
  font-size: 0.875rem;
  margin-left: 1.5rem;

  text-decoration: none;
}

.registration-anchor-svg {
  background: transparent linear-gradient(53deg, #362380 11%, #000 50%, #4ad594 123%) 0 0 no-repeat padding-box !important;
  padding: 3px;
  border-radius: 5rem;
}

.form-anchor-tags {
  width: 100%;
}

.registration-anchor span {
  margin-left: 1rem;
  margin-right: 1rem;
}

.form-login {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.form-login p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.login a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 1rem;
}

.login {
  border-color: linear-gradient(53deg, #362380 11%, #000 50%, #4ad594 123%) 0 0 no-repeat padding-box !important;
}

.registration-anchor:hover {
  cursor: pointer;
  background: transparent linear-gradient(53deg, #362380 11%, #000 50%, #4ad594 123%) 0 0 no-repeat padding-box !important;
}

/* Path: login.html */
.login-button {
  width: -webkit-fill-available;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 20rem;
  border: 2px solid transparent;
  background: transparent linear-gradient(53deg, #362380 11%, #000 50%, #4ad594 123%) 0 0 no-repeat padding-box;
}

.login-button:hover {
  cursor: pointer;
  background: transparent;
  border: 2px solid white;
}

.login-form {
  width: 100%;
}

.input-field {
  position: relative;
  width: -webkit-fill-available;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.input-login {
  padding: 0.5rem 1rem;
  width: -webkit-fill-available;
}

.forgot-password {
  color: white;
  margin-left: auto;
  margin-top: 5px;
}

.label-login {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}
/* Path: dealer.html */

.gorex-dealer-form {
  background-color: white;
  color: rgb(23, 23, 23);
  height: 100%;
  flex: 0.5;
  margin-left: 2rem;
}

.gorex-dealer {
  padding: 3rem;
}

.gorex-dealer-header {
  margin-top: 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.gorex-dealer-sub-header {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 0;
  margin-bottom: 2rem;
  color: rgb(163, 159, 178);
  font-weight: 500;
}

.gorex-dealer-form-wrapper {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  box-shadow: 0 23px 96px #0000000f;
  padding-bottom: 3rem;
  padding-top: 3rem;
  border-radius: 37px;
}

.gorex-dealer-form-submission {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.gorex-back {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: initial;
  color: rgb(163, 159, 178);
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: color 0.3s;
}

.row-inputs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.min-width-200px {
  min-width: 200px;
}

.gorex-dealer-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.gorex-dealer-input-label {
  color: rgb(163, 159, 178);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.gorex-dealer-input-field {
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: #000;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.3rem;
  background-color: initial;
  border-color: rgb(74, 213, 148);
  border-bottom-width: 2px;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-radius: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.gorex-dealer-input-password {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

.input-dealer-password {
  border-color: rgb(74, 213, 148);
  border-style: solid;
  border-bottom-width: 2px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
}

.password-input {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-text-opacity: 1;
  color: black;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.2rem;
  background-color: initial;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-width: 0;
  border-radius: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.eye {
  color: rgb(163, 159, 178);
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  margin-left: 0.75rem;
}

.gorex-file-uploader {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.file-uploader-input-div {
  border-color: rgb(74, 213, 148);
  border-style: solid;
  border-bottom-width: 2px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.file-uploader-input {
  color: black;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.2rem;
  background-color: initial;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  visibility: hidden;
}

.file-uploader-button {
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: black;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25rem;
  font-size: 0.875rem;
  padding-bottom: 0.375rem;
  padding-top: 0.375rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(232 232 232 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(232 232 232 / var(--tw-border-opacity));
  border-style: solid;
  border-width: 2px;
  border-radius: 9999px;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.register-button-wrapper {
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 9999px;
  align-items: center;
  width: 100%;
  display: flex;
  grid-column: span 12 / span 12;
  position: relative;
}

.register-button {
  cursor: pointer;
  -webkit-appearance: button;
  font-size: 1rem;
  line-height: 1.5rem;
  background: linear-gradient(53deg, #362380 11%, #000 50%, #4ad594 123%) !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-width: 0;
  border-radius: 9999px;
  width: 100%;
  display: block;
  margin: 0;
  text-decoration: none !important;
}

/* Path: provider.html */
.ant-tabs-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.tab-cative {
  flex: 0.5;
  border-bottom: 4px solid #4ad594;
  padding-left: 10px;
  padding-bottom: 8px;
}

.tab-inactive {
  flex: 0.5;
  border-bottom: 4px solid #f7f7f7;
  padding-left: 10px;
  padding-bottom: 8px;
}

/* Media Queries */

@media (max-width: 1000px) {
  .gorex-logo {
    width: 130px !important;
  }
  .main {
    flex-direction: column-reverse;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
  }

  .gorex-intro {
    flex: 1;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .gorex-intro-text {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
  }

  .gorex-intro-description {
    font-size: 0.875rem;
    line-height: 1rem;
    font-size: 300;
    text-align: center;
  }

  .gorex-registration-form {
    width: 100%;
    flex: 1;
    margin-right: 0rem !important;
  }

  .gorex-intro-app-buttons img {
    width: 8rem;
  }

  .index-form-wrapper {
    width: -webkit-fill-available;
    max-width: 100%;
    margin-left: 0;
  }

  .gorex-dealer-form {
    margin-left: 0;
  }
}

@media (max-width: 820px) {
  .gorex-dealer-form {
    width: 100%;
    flex: 1;
  }
}

@media (min-width: 800px) {
  .parent-div {
    height: 100vh !important;
  }
}

@media (max-width: 700px) {
  .row-inputs {
    flex-direction: column;
  }

  .row-inputs div {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
}

@media (min-width: 640px) {
  .index-form-wrapper {
    width: 60%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
  .gorex-intro {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 6rem; */
    /* padding-right: 6rem; */
  }
}

@media (min-width: 1000px) {
  .index-form-wrapper {
    width: 100%;
    margin-top: 0rem;
  }

  .gorex-intro {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (max-width: 500px) {
  .form-anchor-wrapper {
    padding: 0.5rem;
  }

  .gorex-dealer {
    padding: 1rem;
  }

  .gorex-dealer-form-wrapper {
    padding: 1rem 0.5rem;
  }

  .form-anchors h3,
  .form-login p,
  .gorex-dealer-header,
  .gorex-dealer-sub-header {
    /* font-size: 1.3rem; */
    text-align: center;
  }
}
